#container  {
	padding-top: 3em;
}

#current-weather{
	border-color: black;
	border-width: 1em;
}

.column {
	border-color: black;
	border-width: 1em;
}

div {
	border: 5px;
	border-color: black;
}

h1 {
	font-size: 3em;
}

header {
	display: flex;
	border: 1em;
	justify-content: center;
}

.weather {
	border: 1em;
	border-color: black;
}
